@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --sidebar: var(--cyan-12);
  --inactive-link: #e8e8ec;
  --icon-muted: #bbbbbb;
  --gray-background: var(--gray-a2);
  --admin-navbar: rgba(255, 255, 255, 0.70);
}

.dark {
  --sidebar: var(--cyan-1);
  --inactive-link: #e8e8ec;
  --icon-muted: #bbbbbb;
  --gray-background: var(--color-background);
  --admin-navbar: rgba(17, 17, 19, 0.70);
}

.radix-themes {
  --cursor-button: pointer;
  --cursor-checkbox: pointer;
  --cursor-disabled: default;
  --cursor-link: pointer;
  --cursor-menu-item: pointer;
  --cursor-radio: pointer;
  --cursor-slider-thumb: grab;
  --cursor-slider-thumb-active: grabbing;
  --cursor-switch: pointer;
}

.radix-themes {
  --default-font-family: "Google Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", "Open Sans", system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";

  --heading-font-family: "Google Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", "Open Sans", system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";

  --strong-font-family: "Google Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", "Open Sans", system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";

  --em-font-family: 'Times New Roman', 'Times', serif;

  --quote-font-family: 'Times New Roman', 'Times', serif;

  --code-font-family: 'Menlo', 'Consolas (Custom)', 'Bitstream Vera Sans Mono', monospace, 'Apple Color Emoji', 'Segoe UI Emoji';
}

/* AndroidLoader.css */
.android-loader {
  display: inline-block;
  animation: rotate var(--duration, 1.4s) linear infinite;
}

.android-loader-path {
  stroke-dasharray: 80px, 200px;
  stroke-dashoffset: 0px;
  animation: dash var(--duration, 1.4s) var(--easing, cubic-bezier(0.4, 0, 0.2, 1)) infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }

  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}